langchain_openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
pydantic
langchain_groq
uvicorn
langserve
fastapi
sse_starlette
pyodbc
validators 
youtube_transcript_api
pytube
unstructured
numexpr
huggingface_hub
gradio